.checkbox-style {
    margin-bottom: 20px;
    display: flex;
    gap: 1.5rem;

}

@media (max-width: 550px) {
    .checkbox-style {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}