/* nav {
  display: flex;
  align-items: center;
  background-color: #000;
  padding: 30px 3%;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:not(:last-child) {
  margin-right: 10px;
}

nav a.active {
  text-decoration: underline;
}

nav-style {
  color: blue;
} */
html {scroll-behavior:smooth}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  /* border-bottom: 1px solid black; */
  box-shadow: 0px 15px 10px -15px #cecccc;   
}

/* Style for the logo and title */
.navbar-brand {
  display: flex;
  align-items: center;
  color: #023047;
  text-decoration: none;
  gap: 0.5rem;
}

/* Style for X in exchange */

.nav-highlight {
  color: #219EBC;
}

/* Style for the links */
.navbar-links {
  font-size: 17px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-links a {
  color: #023047;
  text-decoration: none;
  margin-left: 20px;
}

/* Style for the active link */


/* Style for hover effect */
