header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 30px 3%;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:not(:last-child) {
  margin-right: 10px;
}

nav a.active {
  text-decoration: underline;
}
